    *{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
    }

    body {
background-color: rgb(209, 188, 230);

    }

    main
    {
        background-color: white;
        width: 1000px;
        margin: auto;
        padding: 20px;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.452)    
    }